samples/AddService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://example.com/addservice"
    targetNamespace="http://example.com/addservice">
    <wsdl:types>
        <xsd:schema targetNamespace="http://example.com/addservice">
            <xsd:element name="AddRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="num1" type="xsd:int"/>
                        <xsd:element name="num2" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="AddResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="AddInput">
        <wsdl:part name="input" element="tns:AddRequest"/>
    </wsdl:message>
    <wsdl:message name="AddOutput">
        <wsdl:part name="output" element="tns:AddResponse"/>
    </wsdl:message>
    <wsdl:portType name="AddPortType">
        <wsdl:operation name="Add">
            <wsdl:input message="tns:AddInput"/>
            <wsdl:output message="tns:AddOutput"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="AddSoapBinding" type="tns:AddPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Add">
            <soap:operation soapAction="http://example.com/addservice/Add" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="AddService">
        <wsdl:port name="AddPort" binding="tns:AddSoapBinding">
            <soap:address location="http://localhost:8080/services/AddService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
